.div-choix {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
}

.titre {
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
}

table.choix {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table.choix th,
table.choix td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    font-size: 16px;
}

table.choix th {
    background-color: #ff9800;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table.choix tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.choix tr:hover {
    background-color: #e2e2e2;
}

table.choix td.numero {
    width: 20%;
}

table.choix td.nom {
    width: 80%;
    font-weight: bold;
    color: #555;
}