.titre{
    color: black;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

#title{
    text-align: center;
}

#nom{
    padding: 20px;
}
.blur{
    box-shadow: none !important;
}
.page{
    width: 60%;
    margin: 0 auto;
    
}



@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;
        /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
        /* Firefox 97+, Safari 15.4+ */
    }
}